* {
  box-sizing: border-box;
}

body{
  background-color: white;
  margin: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.navbar {
  font-size: 22px;
  background-color: #717171;
  border-bottom:  3px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  z-index: 1;
}

.main-nav {
  background-color: #71717;
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  color: black;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  height: 50px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
}

#imagee{
  height: 50px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 34px;
}

.active {
  display: block;

}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    border-bottom: 3px solid black;
  }
}

.sticky{
  position: fixed;
  top:0;
  width: 100%;
}

.sticky + .slideshow-container{
  padding-top: 60px;
}


.header{
  font-family: Helvetica;
  font-size: 25px;
  padding-top: 60px;
  padding-left: 40px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
